/************************************************************************/
/* custom styles*/

:root {
  --bg-primary: #f3f2ef;
  --border: #ebebeb;

  --card-bg-primary: #ffffff;
  --card-title: #666666;

  --button-main: #0966c2;
  --button-border: #0966c2;
  --button-bg: #ffffff;

  --remove-button-bg: rgba(0, 0, 0, 0.5);
  --remove-button-inner: #f1f1f1;
}
/************************************************************************/
/*** general ***/

*,
*::after,
*::before {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f3f2ef;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**************************** Heading *********************************/
.container {
  background-color: white;
  border: 2px solid var(--border);
  padding: 0.1rem 0.7rem;
  border-radius: 0.7rem;
  margin: 0 auto;
  width: 380px;
}

.container-contact {
  margin: 0.3rem 0.3rem;
  text-decoration: none;
  background-color: var(--card-bg-primary);
  padding: 0.1rem 0.7rem;
}

.container-card {
  font-size: 1rem;
  font-weight: 400;
  color: var(--card-title);
  margin: 0.5rem 0;
  text-decoration: none;
}

.pending-inv {
  font-size: 0.9rem;
  font-weight: 400;
}

.pending-inv a {
  text-decoration: none;
  color: var(--card-bg-primary);
  margin: 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
}

/************************ Media Queries ************************************************/
@media screen and (min-width: 490px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 700px) {
  .container {
    width: 624px;
  }
}

@media screen and (min-width: 490px) {
  .contact-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 680px) {
  .contact-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/************************************************************************/
.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-heading {
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
}

.contact-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  grid-gap: 0.5rem;
  margin: 0 0 1rem 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 1rem;
  padding: 0.5rem;
  position: relative;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 25%;
  height: 14rem;
  width: 9rem;
}

.padding {
  padding: 0.5rem 0rem;
}

.contact > img {
  border-radius: 50%;
  width: 6rem;
}

.contact-name {
  font-weight: bold;
  color: var(--card-title);
  font-size: 0.8rem;
  margin: 0;
}

.contact p {
  font-size: 0.6rem;
  color: var(--card-title);
  margin: 0;
}

.contact p::before {
  content: "\26AD";
  font-size: 0.9rem;
}

.contact-title {
  font-weight: 400;
  font-size: 0.6rem;
  margin: 0;
  color: var(--card-title);
}

.connect-btn {
  background-color: var(--button-bg);
  color: var(--button-main);
  border: 1px solid var(--button-border);
  border-radius: 20px;
  padding: 0.25rem 2rem;
  font-size: 0.8rem;
}

.remove-btn {
  position: absolute;
  top: 0.15rem;
  right: 0.15rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--remove-button-bg);
  border-radius: 50px;
  border: none;
  transform: 5ms;
}

.remove-btn::before,
.remove-btn::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: var(--remove-button-inner);
  width: 1.5px;
  left: 0.7rem;
  top: 0.4rem;
  bottom: 0.4rem;
}

.remove-btn::before {
  transform: rotate(45deg);
}

.remove-btn::after {
  transform: rotate(-45deg);
}

.remove-btn:hover {
  transform: scale(1.2);
}
